<template>
  <div class="addshop">
    <div class="addshop-div animate__animated animate__fadeInLeftBig">
      <navbar></navbar>
      <div class="addbox">
        <div class="addbox_steps">
          <el-steps :active="show_index" align-center>
            <el-step title="基本信息" description=""></el-step>
            <el-step title="商品参数" description=""></el-step>
            <el-step title="商品属性" description=""></el-step>
            <el-step title="商品图片" description=""></el-step>
            <el-step title="商品内容" description=""></el-step>
          </el-steps>
        </div>
        <div class="addbox_nav">
          <el-tabs :tab-position="tabPosition" @tab-click="tabfun">
            <el-tab-pane label="基本信息">
              <div class="addbox_nav_div">
                <el-form :model="shop" status-icon :rules="rules" :label-position="labelPosition" ref="shop" class="demo-ruleForm">
                  <el-form-item label="商品名称" prop="goods_name">
                    <el-input v-model="shop.goods_name" autocomplete="off"></el-input>
                  </el-form-item>
                  <el-form-item label="商品价格" prop="goods_price">
                    <!--  onkeyup="this.value = this.value.replace(/[^\d.]/g,'');"  让其输入框只能输入数字,其他的会撤回 -->
                    <el-input  onkeyup="this.value = this.value.replace(/[^\d.]/g,'');" v-model="shop.goods_price" autocomplete="off"></el-input>
                  </el-form-item>
                  <el-form-item label="商品重量" prop="goods_weight">
                    <el-input  onkeyup="this.value = this.value.replace(/[^\d.]/g,'');" v-model="shop.goods_weight" autocomplete="off"></el-input>
                  </el-form-item>

                  <el-form-item label="商品数量" prop="goods_number">
                    <el-input  onkeyup="this.value = this.value.replace(/[^\d.]/g,'');" v-model="shop.goods_number" autocomplete="off"></el-input>
                  </el-form-item>

                  <el-form-item label="商品分类">
                    <el-cascader v-model="value" value="" label="cat_name" :options="options" @change="handleChange"></el-cascader>
                  </el-form-item>
                </el-form>
              </div>
            </el-tab-pane>
            <el-tab-pane label="商品参数">
              <div class="addbox_nav_div">
                <div v-for="v,k in shopparams" style="margin-top:20px" :key="'s'+k">
                  <p style="margin:5px 0px;">{{v.attr_name}}</p>
                  <el-checkbox v-for="vv,kk in v.attr_vals" v-model="v.attr_vals" :key="'a'+kk"  :label="vv" border></el-checkbox>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="商品属性">
              <el-form  v-if="shopattrs.length>0"  :rules="rules" ref="shopattrs" class="demo-ruleForm">
                <el-form-item v-for="v,k in shopattrs" :key="'attr'+k" label="attr_name" prop="name">
                  <el-input v-model="v.attr_vals"></el-input>
                </el-form-item>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="商品图片">
                <el-upload
                  class="upload-demo"
                  :action="urlImg"
                  :headers="headers"
                  :file-list="fileList"
                  list-type="picture">
                  <el-button size="small" type="primary">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload>
            </el-tab-pane>
            <el-tab-pane label="商品内容">
              <mavon-editor v-model="textarea" ref="md"  @change="change" style="min-height: 400px"/>
              <!-- <el-input type="textarea" :rows="4" placeholder="请输入内容" v-model="textarea"></el-input> -->
              <el-button @click.native="add">添加商品</el-button>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mavonEditor } from 'mavon-editor'
import 'mavon-editor/dist/css/index.css'
import {mapState} from 'vuex';
import navbar from "@/components/nav_bar.vue";
import { api } from "@/assets/js/api.js";
import {BURL} from '@/assets/js/Ajax.js'
export default {
  components: { navbar,mavonEditor},
  data() {
    return {
      urlImg:BURL+'upload',
      fileList: [],
      headers:{
        Authorization:this.$store.state.token
      },
      show_index: 0,
      tabPosition: "left", //控制tabs标签页 方向这里时 左
      labelPosition: "top",
      shop: {
        goods_name: "",
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_cat:''
      },
      rules: {
        goods_name: [
          { required: true, message: "请输入商品名", trigger: "blur" },
          { min: 3, max: 50, message: '长度在 3 到 50 个字符', trigger: 'blur' }
        ],
        goods_cat: [
          { required: true, message: "请输入商品参数", trigger: "blur" },
        ],
        goods_price: [
          { required: true, message: "请输入商品价格", trigger: "blur" },
        ],
        goods_number: [
          { required: true, message: "请输入商品数量", trigger: "blur" },
        ],
        goods_weight: [
          { required: true, message: "请输入商品重量", trigger: "blur" },
        ],
        goods_introduce: [
          { required: true, message: "请输入商品介绍", trigger: "blur" },
        ],
        pics: [{ required: true, message: "图片", trigger: "blur" }],
        attrs: [{ required: true, message: "商品参数", trigger: "blur" }],
      },
      value: [],
      options: [],
      textarea: "",
      allshop:[],

      // 商品参数
      shopparams:[],

      // 商品属性
      shopattrs:[],

      html:'',   
    };
  },
  created() {
      api.getShopList(1,10,'').then(res=>{
          api.getShopList(1,res.data.data.total,'').then(all=>{
              this.allshop=all.data.data.goods
          })
      })
      this.getClasser([1,2,3])
  },
  methods: {
      change(value, render){
          // render 为 markdown 解析后的结果[html]
          this.html = render;
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePreview(file) {
        console.log(file);
      },
      success(file){
        console.log(file)
      },
    getClasser(arr) {
      api.getClass(arr).then((res) => {
        let a = res.data.data.result;
        let f1 = [];
        a.forEach((v, k) => {         //计算显示的 分类
          let obj = { label: v.cat_name, value: v.cat_id, children: [] };
          f1.push(obj);
          if (v.children) {
            v.children.forEach((v1) => {
              if (v1.children) {
                let obj_children1 = {label: v1.cat_name,value: v1.cat_id,children: [],};
                obj.children.push(obj_children1);

                v1.children.forEach((v2) => {
                  let obj_children2 = { label: v2.cat_name, value: v2.cat_id };
                  obj_children1.children.push(obj_children2);
                });
              } else {
                let obj_children1 = { label: v1.cat_name, value: v1.cat_id };
                obj.children.push(obj_children1);
              }
            });
          }
        });
        this.options = f1;
      });
    },
    handleChange(value) {   //select改变事件
      let arr = []
      if(value.length>=3){   //计算是否选中三级
        api.getParamsList(value[2],'many').then(res=>{ //请求 参数
          res.data.data.map(v=>{
            let obj = {attr_id:v.attr_id,attr_name:v.attr_name,attr_vals:v.attr_vals.split(',')}
            arr.push(obj)
          })
          this.shopparams = arr
        })

        api.getParamsList(value[2],'only').then(res=>{
          this.shopattrs = res.data.data
        })
      }
    },
    tabfun(val) {   //tab切换事件,并且加入message提示文字
        if(this.value.length<3){
          this.$message.info('请选择商品分类三级')
        }
        this.show_index = val.index * 1;
    },
    add(){
        this.$refs['shop'].validate((valid) => {
          if (valid) {
              let cat = this.value.join()                //分类选择双向绑定数据 处理为字符串

              let suan_attrs = []         //用于计算 要求传递的参数格式  {attr_id,attr_value}
              this.shopattrs.map(v=>{   //this.shopattrs 为属性请求来的数据,经过双向绑定,二次处理
                let obj = {
                  attr_id:v.attr_id,
                  attr_value:v.attr_vals
                }
                suan_attrs.push(obj)
              })

              let suan_shopparams = []    //计算 商品参数 到达需要格式
              this.shopparams.map(v=>{      
                let obj = {attr_id:v.attr_id,attr_value:v.attr_vals.join()}
                suan_shopparams.push(obj)
              })
              let suan_all = [...suan_attrs,...suan_shopparams]


              let newShop = {
                goods_name:this.shop.goods_name,        //商品名字
                goods_cat:cat,                         //分类参数
                goods_price:this.shop.goods_price,     //单价
                goods_number:this.shop.goods_number,   //数量
                goods_weight:this.shop.goods_weight,  //重量
                goods_introduce:this.html,            //介绍
                pics:null,
                attrs:suan_all            //属性
              }

              let p = true  //用于判断重复
              this.allshop.forEach(v=>{
                // 判断添加之前 全部商品列表,判断
                  if(v.goods_name == newShop.goods_name) p = false
              })
              if(!p){
                this.$message({message: '商品名称已存在',type: 'warning'});
                return false
              }
              //   添加请求
              api.addShop(newShop).then(res=>{
                  this.$message({message: res.data.meta.msg,type: 'success'});
                  this.$router.push({name:'shoplist'})
              })
          } else {
            this.$message({message: '请完善信息',type: 'warning'});
            return false;
          }
        })
    }
  },
  computed:{
    ...mapState(['token'])
  },
};
</script>

<style lang="scss" scoped>
.addshop {
  flex-grow: 1;
  padding: 12px;
  background: #f1f1f1;
  .addshop-div {
    width: 100%;
    height: 100%;
    padding: 14px;
    background: white;
    box-sizing: border-box;
  }
}
.addbox {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 50px;
  .addbox_nav {
    margin-top: 15px;
    width: 100%;
    .addbox_nav_div {
      max-height: 500px;
      overflow: auto;
      form {
        padding-right: 10px;
      }
    }
    .addbox_nav_div::-webkit-scrollbar-track {
      /*定义滚动条轨道 内阴影+圆角*/
      background-color: rgba(0, 0, 0, 0.1);
    }
    .addbox_nav_div::-webkit-scrollbar {
      /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
      width: 5px;
      height: 0px;
      background-color: rgba(0, 0, 0, 0);
    }
    .addbox_nav_div::-webkit-scrollbar-thumb {
      /*定义滑块 内阴影+圆角*/
      background-color: #3333;
    }
  }
}
.demo-ruleForm{
  max-height: 500px;
  overflow: auto;
}
.demo-ruleForm::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(0, 0, 0, 0);
}
</style>