<template>
  <div class="classparams">
    <div class="classparams-div animate__animated animate__fadeInLeftBig">
      <navbar></navbar>
       <el-alert style="margin-top:15px" show-icon title="注意:只允许为第三级分类设置参数" type="warning"></el-alert>
       <div class="classparams-box">
         <!-- 分类选择 -->
         <div class="classparams-box-sel">
           请选择商品分类
            <el-cascader v-model="value" value="" label="cat_name" :options="options" @change="handleChange"></el-cascader>
         </div>
          <div class="classparams-box-tabs">
              <el-tabs v-model="activeName" @tab-click="handleClick" style="width:98%">
                <el-tab-pane label="动态参数" name="many">
                  <el-button @click="addMany" size="mini">添加动态参数</el-button>
                  <el-table :data="tableDataOne" :tree-props="{children: null}"  @expand-change='fun' :expand-row-keys="expands" :row-key="row_id" style="width: 100%">
                     <!-- 折叠内容 -->
                      <el-table-column  type="expand">
                        <template slot-scope="scope">
                          <div class="classparams-tags">
                            <el-tag v-for="tag,key in scope.row.attr_vals.split(',')" :key="key" closable type="success"  :disable-transitions="false" @close="handleClose(scope.row,key)">{{tag}}</el-tag>
                            <el-tag v-show="!addTag_show" @click.native="addTag(scope.row)">addTag</el-tag>                          
                          </div>
                          <el-input v-show="addTag_show" v-model="tags_value" @keydown.enter.native="addTagEnter(scope.row)"></el-input>
                        </template>
                      </el-table-column>
                      
                      <el-table-column width="300" label="# 属性名称" prop="attr_name"></el-table-column>
                      <el-table-column label="操作">
                        <template slot-scope="scope">
                             <el-button type="primary" @click.native="set(scope.row)" plain size="mini" icon="el-icon-edit"></el-button>
                             <el-button type="danger" @click.native="del(scope.row)" size="mini" icon="el-icon-delete"></el-button>
                        </template>
                      </el-table-column>
                  </el-table>
                </el-tab-pane>
                <el-tab-pane label="静态参数" name="only">
                    <el-button @click="addMany" size="mini">添加静态参数</el-button>
                  <el-table :data="tableDataOne"  style="width: 100%">
                      <el-table-column width="300" label="# 属性名称" prop="attr_name"></el-table-column>
                      <el-table-column label="操作">
                        <template slot-scope="scope">
                             <el-button type="primary" @click.native="set(scope.row)" plain size="mini" icon="el-icon-edit"></el-button>
                             <el-button type="danger" @click.native="del(scope.row)" size="mini" icon="el-icon-delete"></el-button>
                        </template>
                      </el-table-column>
                  </el-table>
                </el-tab-pane>
              </el-tabs>
          </div>
       </div>
    </div>



    <el-dialog title="编辑参数" :visible.sync="set_show" width="30%" >
      <el-form :model="setObj" :rules="rules" ref="setObj" label-width="80px" class="demo-ruleForm">
          <el-form-item  label="说明">
            <el-input value="添加多个已逗号分隔" disabled ></el-input> 
          </el-form-item>
          <el-form-item  v-if="activeName=='many'" prop="attr_vals" label="参数">
            <el-input v-model="setObj.attr_vals"></el-input> 
          </el-form-item>
          <el-form-item  prop="attr_name" label="属性名">
            <el-input v-model="setObj.attr_name"></el-input> 
          </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click.native="setSub()">确 定</el-button>
      </span>
    </el-dialog>

     <el-dialog title="添加" :visible.sync="addMany_show" width="30%" >
      <el-form :model="addMany_form" :rules="rules" ref="addMany_form" label-width="80px" class="demo-ruleForm">
          <el-form-item  label="说明">
            <el-input value="添加多个已逗号分隔" disabled ></el-input> 
          </el-form-item>
          <el-form-item  v-if="activeName=='many'" prop="attr_vals" label="参数">
            <el-input v-model="addMany_form.attr_vals"></el-input> 
          </el-form-item>
          <el-form-item  prop="attr_name" label="属性名">
            <el-input v-model="addMany_form.attr_name"></el-input> 
          </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click.native="addManySub()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import navbar from "@/components/nav_bar.vue";
import { api } from "@/assets/js/api.js";
export default {
  components: { navbar },
  data(){
    return {
      expands:[], //控制显示的数组
      row_id(row){  //给tr绑定key用到的
        return row.attr_id
      },
      options:[],
      value:'',
      activeName:'many',
      tableDataOne:[],
      addTag_show:false,
      tags_value:'',
      setObj:{},
      set_show:false,
      rules:{
        attr_vals:[
           { required: true, message: '请输入', trigger: 'blur' },
        ],
        attr_name:[
           { required: true, message: '请输入', trigger: 'blur' },
        ]
      },
      rules1:{
        attr_name:[
           { required: true, message: '请输入', trigger: 'blur' },
        ]
      },
      addMany_id:0,
      addMany_show:false,
      addMany_form:{attr_name:'',attr_sel:'',attr_vals:''},

    }
  },
  created(){
    api.getClass([1,2,3]).then(res=>{   //分类
          let a = res.data.data.result;
        let f1 = [];
        a.forEach((v, k) => {         //计算显示的 分类
          let obj = { label: v.cat_name, value: v.cat_id, children: [] };
          f1.push(obj);
          if (v.children) {
            v.children.forEach((v1) => {
              if (v1.children) {
                let obj_children1 = {label: v1.cat_name,value: v1.cat_id,children: [],};
                obj.children.push(obj_children1);

                v1.children.forEach((v2) => {
                  let obj_children2 = { label: v2.cat_name, value: v2.cat_id };
                  obj_children1.children.push(obj_children2);
                });
              } else {
                let obj_children1 = { label: v1.cat_name, value: v1.cat_id };
                obj.children.push(obj_children1);
              }
            });
          }
        });
        this.options = f1;
      })
  },
  methods:{
    fun(r){ //折叠面板,change事件
      if(r.attr_id == this.expands[0]) {
        this.expands=[]
        return false
      }
      this.expands = [r.attr_id]
    },
    getTableList(){            //获取table内容
      // this.activeName  标签页绑定的属性,是关联的
      api.getParamsList(this.value[this.value.length-1],this.activeName).then(res=>{
        this.tableDataOne = res.data.data
        this.tags_value=''
        this.addTag_show=false
      })
    },

    addParams(id,ids,obj){       //添加标签
      api.addParams(id,ids,obj).then(res=>{
        this.getTableList()
      })
    },

    addMany(){      //添加动态参数
      if(this.value){
        let data_id = this.value[this.value.length-1]
        this.addMany_id = data_id
        this.addMany_show=true
      }else{
        this.$message.warning('请选择三级分类')
      }
    },

    addManySub(){   //添加 提交
      this.$refs['addMany_form'].validate((valid) => {
        if (valid) {
          let obj = Object.assign({},this.addMany_form)  //请求参数
          obj.attr_sel = this.activeName
          api.addOMParams(this.addMany_id,obj).then(res=>{
            this.addMany_show=false
            this.getTableList()
            this.addMany_form = {}
          })
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },

    handleClose(v,key){  //tag删除事件
      let arr = v.attr_vals.split(',')
      arr.splice(key,1)
      let str = arr.join(',')
      let obj = {
        attr_name:v.attr_name,
        attr_sel:this.activeName,
        attr_vals:str
      }
      this.addParams(v.cat_id , v.attr_id , obj)
    },

    handleChange(v){  //select自带事件
      this.getTableList()
    },

    handleClick(tab, event) {  //tabs自带事件
      this.getTableList()
      // console.log(tab, event);
    },

    addTag(v){   //添加按键
      this.addTag_show=true
    },

    addTagEnter(v){    //input回车事件
      if(!this.tags_value){   //判断是否输入 没有输入不添加
        this.addTag_show=false
        return false
      }
      let str = v.attr_vals
      str+=','+this.tags_value
      let obj = {
        attr_name:v.attr_name,
        attr_sel:this.activeName,
        attr_vals:str
      }
      this.addParams(v.cat_id , v.attr_id , obj)
    },

    set(v){
      this.set_show=true
      this.setObj={...v}
    },

    setSub(){
       this.$refs['setObj'].validate((valid) => {
          if (valid) {
            this.addParams(this.setObj.cat_id,this.setObj.attr_id,this.setObj)
            this.set_show=false
          } else {
            console.log('error submit!!');
            return false;
          }
        });
    },

    del(v){
      api.delParams(v.cat_id,v.attr_id).then(res=>{
        this.getTableList()
      })
    }

  }
};
</script>

<style lang="scss" scoped>
.classparams{
  padding: 12px;
  background: #f1f1f1;
  flex-grow: 1;
  .classparams-div{
    width: 100%;
    height: 100%;
    background: white;
    padding:14px 20px;
    box-sizing: border-box;
    .classparams-box{
      .classparams-box-sel{
        margin-top: 10px;
      }
    }
  }
}
</style>