<template>
  <div class="shopclass">
    <div class="shopclass-div animate__animated animate__fadeInLeftBig">
      <navbar></navbar>
      <nav>
        <el-button size="medium" @click.native="add()">添加分类</el-button>
      </nav>
      <div class="shopclass-table">
        <!-- 层级显示 -->
        <el-table :data="tableData" :tree-props="{children: 'children'}" :row-key="row_id" :expand-row-keys="expands" style="width: 98%">
          <el-table-column label="商品 ID" prop="cat_name"> </el-table-column>
          <el-table-column label="商品名称">
            <template  slot-scope="r">
              <span v-show="r.row.cat_level==0">一级</span>
              <span v-show="r.row.cat_level==1">二级</span>
              <span v-show="r.row.cat_level==2">三级</span>
            </template>
          </el-table-column>
          <el-table-column label="是否有效">
            <template slot-scope="r">
              <span v-show="!r.row.cat_deleted">有效</span>
              <span v-show="r.row.cat_deleted">无效</span>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="r">
              <el-button size="small" type="primary" @click.native="set(r.row)" icon="el-icon-edit" circle></el-button>
              <el-button size="small" type="danger" @click.native="del(r.row)" icon="el-icon-delete" circle></el-button>
            </template>
          </el-table-column>
        </el-table>
        
        <div class="block">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="page" :page-sizes="[10, 15, 20, 30]" :page-size="size" layout="total, sizes, prev, pager, next, jumper" :total="allsize">
          </el-pagination>
        </div>
      </div>
    </div>


    <!-- 编辑分类名 -->
    <el-dialog title="修改商品分类" :visible.sync="set_show" width="30%" >
      <el-form :model="form" :rules="rules" ref="form" class="demo-ruleForm">
          <el-form-item  prop="setFormInput">
          <el-input v-model="form.setFormInput"></el-input> </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="setSub()">确 定</el-button>
      </span>
    </el-dialog>


    <!-- 添加分类 -->
    <el-dialog title="添加分类" :visible.sync='add_show' width="30%">
       <el-form :model="formadd" :rules="rules" label-width="80px" ref="formadd" class="demo-ruleForm">
          <el-form-item  label="分类名" prop="cat_name"> 
            <el-input v-model="formadd.cat_name"></el-input> 
          </el-form-item>
          <el-form-item label="分类">
             <el-cascader v-model="value" value="" label="cat_name" :options="options" @change="handleChange"></el-cascader>
          </el-form-item>
      </el-form>

       <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="addSub()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import navbar from "@/components/nav_bar.vue";
import { api } from "@/assets/js/api.js";
export default {
  components: { navbar },
   data() {
      return {
        tableData: [],
        page:1,
        size:10,
        allsize:10,
        set_show:false,
        set_id:'',
        form:{setFormInput:'',},
        rules:{
           setFormInput:[{ required: true, message: '请输入分类名称', trigger: 'blur' },
            { min: 2, max: 50, message: '长度在 2 到 50 个字符', trigger: 'blur' }],
            cat_name:[{ required: true, message: '请输入分类名称', trigger: 'blur' },
            { min: 2, max: 50, message: '长度在 2 到 50 个字符', trigger: 'blur' }],
        },

        add_show:false,
        formadd:{cat_level:0,cat_name:'',cat_pid:0},
        options:[],
        value:false,
        
        row_id(r){
          return r.cat_id
        },
        expands:[]
      }
    },
    created(){
      this.getClasser()
    },
    methods:{
      getClasser(){
        api.getClass('1,2,3',this.page,this.size).then(res=>{
          this.allsize = res.data.data.total
          this.tableData = res.data.data.result
        })
      },
      handleChange(v){
        console.log(v)
      },

      getAddClassSelect(){   //获取添加时 用到的select
        api.getClass([1,2]).then(res=>{   //获取添加商品时的 select
          let alls = res.data.data.result       //获取请求到的全部数据
          let options_all = []   //设置一个空数组
          alls.forEach(v=>{     
            if(v.children){
              let obj = {value:v.cat_id,children:[],label:v.cat_name}
              options_all.push(obj)
              v.children.forEach(v1=>{
                let obj_two = {value:v1.cat_id,label:v1.cat_name}
                obj.children.push(obj_two)
              })
            }else{
              let obj = {value:v.cat_id,label:v.cat_name}
              options_all.push(obj)
            }
          })
          this.options=options_all
        })
      },

      del(v){   //删除分类
         this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          api.delClass(v.cat_id).then(res=>{
            this.$message.success('删除成功')
            this.getClasser()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
      },

      set(v){   //编辑分类
        this.set_show=true
        this.form.setFormInput = v.cat_name
        this.set_id = v.cat_id
      },

      add(){  //添加
        this.add_show=true
        this.getAddClassSelect()
      },

      addSub(){  //添加 请求
        this.$refs['formadd'].validate((valid) => {
          if (valid) {
            if(!this.value){    //判断分类是否有内容
              this.$message.success('请选择分类')
              return false
            }
            let obj = {...this.formadd}              //结构复制 加... 扩展运算符,达到深拷贝
            let select_value_id = this.value[this.value.length-1]   //分类id
            api.getIdClass(select_value_id).then(res=>{              //根据id请求 获取分类参数
              obj.cat_level = res.data.data.cat_level
              obj.cat_pid = res.data.data.cat_id                    //设置父类id,需要向该id 的子元素添加的
              //把上面请求的参数设置给 obj对象用于添加请求参数
              api.addClass(obj).then(res=>{               //请求添加接口
                this.$message.success(res.data.meta.msg)
                this.getClasser()
                this.add_show=false
              })
            })
          } else {
            return false;
          }
        });
      },

      setSub(){  //编辑提交
         this.$refs['form'].validate((valid) => {
          if (valid) {
            api.setClass(this.set_id,this.form.setFormInput).then(res=>{
              this.$message.success(res.data.meta.msg)
              this.set_show=false
              this.getClasser()
            })
          } else {
            return false;
          }
        });
      },

      handleSizeChange(v){
        this.size=v
        this.getClasser()
      },
      handleCurrentChange(v){
        this.page=v
        this.getClasser()
      }
    }
};
</script>
<style lang="scss" scoped>
.shopclass {
  flex-grow: 1;
  padding: 12px;
  background: #f1f1f1;
  .shopclass-div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: white;
    padding: 14px;
    nav {
      margin-top: 14px;
    }
  }
}

</style>