<template>
  <div class="shoplistbox">
    <div class="shoplistbox-div animate__animated animate__fadeInLeftBig">
      <navbar></navbar>
      <!-- input搜索 -->
      <div class="inp">
        <nav>
          <el-input v-model="input" @keydown.enter="cha" placeholder="请输入内容"></el-input>
          <p @click="cha"><span class="el-icon-search"></span></p>
        </nav>
        <div class="but">
          <el-button class="success" @click="add">添加用户</el-button>
        </div>
      </div>
      <!-- table 表格 -->
      <div class="shoplistbox-table" style="width:98.5%">
        <el-table ref="singleTable" border :data="tableData" style="width: 100%">
          <el-table-column type="index" label="#" width="50"> </el-table-column>
          <el-table-column label="商品名称" >
            <template slot-scope="scope">
              <!-- <el-tooltip class="item" effect="dark" :content="scope.row.goods_name" placement="bottom"> -->
                <p class="hidden">{{scope.row.goods_name}}</p>
              <!-- </el-tooltip> -->
            </template>
          </el-table-column>
          <el-table-column property="goods_price" label="商品价格(元)" width="150"></el-table-column>
          <el-table-column property="goods_weight" label="商品重量" width="150"></el-table-column>
          <el-table-column label="创建日期" width="180">
            <template slot-scope="scope">
              <span>{{scope.row.add_time | formatDate}}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="180">
              <template slot-scope="scope">
                   <el-button type="success" @click="set_show(scope.row)" size='small' icon="el-icon-edit" circle></el-button>
                   <el-button type="danger" @click='del(scope.row)' size='small' icon="el-icon-delete" circle></el-button>
              </template>
          </el-table-column>
        </el-table>

      <div class="block">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="page" :page-sizes="[10, 15, 20, 30]" :page-size="size" layout="total, sizes, prev, pager, next, jumper" :total="allsize">
          </el-pagination>
      </div>
      </div>
    </div>

    <el-dialog class="alert" title="编辑商品" :visible.sync="show" width="50%" >
            <el-form  :model="setshop"  :rules="rules" ref="setshop" label-width="100px" style="width:60%;" class="demo-ruleForm">
                <el-form-item label="商品名称" prop="goods_name">
                    <el-input v-model="setshop.goods_name"></el-input>
                </el-form-item>
                 <el-form-item label="商品价格"  prop="goods_price">
                    <el-input v-model="setshop.goods_price"></el-input>
                </el-form-item>
                 <el-form-item label="商品数量" prop="goods_number">
                    <el-input v-model="setshop.goods_number"></el-input>
                </el-form-item>
                 <el-form-item label="商品重量"  prop="goods_weight">
                    <el-input v-model="setshop.goods_weight"></el-input>
                </el-form-item>
                <el-form-item label="商品参数" prop="goods_cat">
                    <el-input v-model="setshop.goods_cat"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="setSub()">提交</el-button>
            </span>
        </el-dialog>
  </div>
</template>
<script>
import {api} from '@/assets/js/api.js';
import navbar from "@/components/nav_bar.vue";
export default {
  components: { navbar },
  data(){
      return{
          tableData:[],
          show:false,
          setshop:{},
          input:'',
          page:1,
          size:10,
          query:'',
          allsize:30,
          rules: {
            goods_name: [
              { required: true, message: '请输入商品名', trigger: 'blur' },
            ],
            goods_price: [
              { required: true, message: '请输入价格', trigger: 'blur' },
            ],
            goods_weight: [
              { required: true, message: '请输入重量', trigger: 'blur' },
            ],
            goods_number: [
              { required: true, message: '请输入数量', trigger: 'blur' },
            ],
            goods_cat: [
              { required: true, message: '请输入商品参数', trigger: 'blur' },
            ],
        }
      }
  },
  created(){
    this.getlist(1,10,this.input)
  },
  methods: {
    getlist(page,size,query){  //获取列表
        api.getShopList(page,size,query).then(res=>{
          this.allsize = res.data.data.total
          this.tableData=res.data.data.goods
        })
    },
    handleSizeChange(v){   //select
      this.size=v;
      this.getlist(this.page,this.size,this.query)
    },
    handleCurrentChange(v){  //click
      this.page = v
      this.getlist(this.page,this.size,this.query)
    },
    cha() {   //查询
      this.page=1
      if(this.input ==''){
        this.getlist(this.page,this.size,'')
      }else{
        this.query = this.input
        this.getlist(this.page,this.size,this.query)
      }
    },
    add() {  //添加商品
      this.$router.push({name:'addshop'})
    },
    set_show(val){  //table 编辑按键 
      this.show=true
      api.getShop(val.goods_id).then(res=>{
        let obj = {
          goods_name:res.data.data.goods_name,
          goods_price:res.data.data.goods_price,
          goods_weight:res.data.data.goods_weight,
          goods_number:res.data.data.goods_number,
          goods_cat:res.data.data.goods_cat,
          id:res.data.data.goods_id
        }
        this.setshop=obj
      })
    },
    setSub(){  //编辑 弹出框 提交
        this.$refs['setshop'].validate((valid) => {
          if (valid) {
            api.setShop(this.setshop.id,this.setshop).then(res=>{
              this.getlist(this.page,this.size,this.input)
              this.$message({
                message: '恭喜你，更改成功',
                type: 'success'
              });
              this.show=false
            })
          } else {
            return false;
          }
        });
    },
    del(val){
      api.delShop(val.goods_id).then(res=>{
        this.getlist(this.page,this.size)
        this.$message({
          message: res.data.meta.msg,
          type: 'success'
        });
      })
    }
  },
  filters:{
    formatDate: function (value) {
        let date = new Date(value);
        let y = date.getFullYear();
        let MM = date.getMonth() + 1;
        MM = MM < 10 ? ('0' + MM) : MM;
        let d = date.getDate();
        d = d < 10 ? ('0' + d) : d;
        let h = date.getHours();
        h = h < 10 ? ('0' + h) : h;
        let m = date.getMinutes();
        m = m < 10 ? ('0' + m) : m;
        let s = date.getSeconds();
        s = s < 10 ? ('0' + s) : s;
        return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
    },
  }
};
</script>


<style lang="scss" scoped>
.shoplistbox {
  padding: 12px;
  flex-grow: 1;
  background: #f1f1f1;
  .shoplistbox-div {
    padding: 14px;
    background: white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}

.hidden{
  max-width:96%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.inp {
  display: flex;
  margin-top: 18px;
  margin-bottom: 10px;
  .but {
    margin-left: 20px;
    button {
      color: white;
      background: #409eff;
    }
    button:hover {
      transition: all 0.3s linear;
      background: #66b1ff;
    }
  }
  nav {
    width: 300px;
    display: flex;
    position: relative;
    div {
      width: 300px;
      overflow: hidden;
    }
    p {
      position: absolute;
      right: 1px;
      top: 1px;
      width: 60px;
      height: 38px;
      background: #f5f7fa;
      border-radius: 4px;
      display: flex;
      span {
        color: #9999;
        margin: auto;
        font-size: 20px;
      }
    }
  }
}
</style>