<template>
  <div class="box_perlist">
    <div class="content animate__animated animate__backInLeft">
      <div class="contentbox">
        <navbar></navbar>
        <el-table :data="tableData" border style="width:98%;margin:18px auto 0px">
            <el-table-column label="ID" width="56px">
                <template slot-scope="scope"><span>{{scope.$index+1}}</span></template>
            </el-table-column>
          <el-table-column prop="authName" label="权限名称" width="180">
          </el-table-column>
          <el-table-column prop="path" label="路径" width="180">
          </el-table-column>
          <el-table-column label="层级">
                <template slot-scope="scope">
                    <span v-show="scope.row.level=='0'">一级</span>
                    <span v-show="scope.row.level=='1'">二级</span>
                    <span v-show="scope.row.level=='2'">三级</span>
                </template>
            </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
import navbar from "@/components/nav_bar.vue";
import { api } from "@/assets/js/api.js";
import {mapState} from 'vuex'
export default {
  created() {
      api.getPer_list('list').then(res=>{
          this.tableData=res.data.data
      })
  },
  components: {
    navbar,
  },
  data(){
      return {
          tableData:[]
      }
  },
  computed:{
      ...mapState(['token'])
  }
};
</script>

<style lang="scss" scoped>
.box_perlist {
  flex-grow: 1;
  display: flex;
  background: #f1f1f1;
  .content {
    padding: 12px;
    width: 100%;
    display: flex;
    .contentbox {
      flex-grow: 1;
      padding: 14px;
      background: white;
    }
  }
}
</style>