<template>
  <div class="box">
    <div class="content animate__animated animate__backInLeft">
      <div class="contentbox">
        <navbar></navbar>
        <div class="addbut">
          <el-button type="primary" @click="addshow=true" plain>主要按钮</el-button>
        </div>
        <el-table border :tree-props="{children: null}"  @expand-change='fun' :expand-row-keys="expands" row-key="id" :data="tableData" style="width: 99%;margin:0px auto">
          <el-table-column type="expand">
            <template slot-scope="props">
              <div class="ershow" v-for='v,k in props.row.children' :key="'a'+k" style="width:100%">
                <div style="display:flex">
                  <div>
                    <el-tag @close="close(v,props.row)" closable>{{v.authName}}</el-tag>
                  </div>
                  <nav>
                    <div style="display:block" v-for="val,key in v.children" :key='"b"+key'>
                      <el-tag  @close="close(val,props.row)" closable type="success">{{val.authName}}</el-tag>
                    </div>
                  </nav>
                  <nav>
                    <nav v-for="vv,kk in v.children" :key="'c'+kk">
                      <span v-for="vvv,kkk in vv.children" :key="'d'+kkk">
                        <el-tag @close="close(vvv,props.row)" closable type="info">{{vvv.authName}}</el-tag>
                      </span>
                    </nav>
                  </nav>
                </div>
              </div>

            </template>
          </el-table-column>
          <el-table-column label="ID" width="58">
            <template slot-scope="scope">
              <span>{{scope.$index+1}}</span>
            </template>
          </el-table-column>
          <el-table-column label="角色名称" prop="roleName" width="240"> </el-table-column>
          <el-table-column label="角色描述" prop="roleDesc" width="240"> </el-table-column>
          <el-table-column label="ID">
            <template slot-scope="scope">
              <el-button type="success" size='small' icon="el-icon-edit" @click="set(scope.row,scope.$index)" circle></el-button>
              <el-button type="info" size='small' icon="el-icon-delete" @click="del(scope.row,scope.$index)" circle></el-button>
              <el-button type="warning" size='small' icon="el-icon-check" @click="per(scope.row,scope.$index)" circle></el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <!-- 添加 -->
    <el-dialog class="alert" title="新增角色" :visible.sync="addshow" width="30%" >
            <el-form  :model="form" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="角色名"  prop="name">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                 <el-form-item label="角色描述"  prop="title">
                    <el-input v-model="form.title"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="addsub('ruleForm')">提交</el-button>
            </span>
        </el-dialog>
    <!-- 编辑 -->
    <el-dialog class="alert" title="编辑角色" :visible.sync="setshow" width="30%" >
          <el-form  :model="setform" label-width="100px" class="demo-ruleForm">
              <el-form-item label="用户id">
                  <el-input v-model="setform.id" :disabled='disabled'></el-input>
              </el-form-item>
               <el-form-item label="角色名">
                  <el-input v-model="setform.name"></el-input>
              </el-form-item>
              <el-form-item label="角色名">
                  <el-input v-model="setform.title"></el-input>
              </el-form-item>
          </el-form>
          <span slot="footer" class="dialog-footer">
              <el-button type="primary" @click="setsub">提交</el-button>
          </span>
      </el-dialog>

      <el-dialog class="alert" title="角色授权" :visible.sync="pershow" width="30%">
          <el-tree ref="tree" 
          :data="data" 
          show-checkbox node-key="id" 
          :default-expanded-keys='tree_id' 
          :default-checked-keys='tree_id' 
          :props="defaultProps">
          </el-tree>
          <span slot="footer" class="dialog-footer">
              <el-button type="primary" @click="subPer">提交</el-button>
          </span>
      </el-dialog>
  </div>
</template>
<script>
import navbar from "@/components/nav_bar.vue";
import { api } from "@/assets/js/api.js";
import {mapState} from 'vuex'
export default {
  created() {
    this.getlist()
  },
  methods:{
    getlist(){
      // 更改后再次请求列表
        api.getRoles().then(res=>{
          this.tableData=res.data.data
        })
    },
    fun(r){  //折叠面板,change事件
      if(r.id == this.expands[0]) {
        this.expands=[]
        return false
      }
      this.expands = [r.id]
    },
    close(v,props){   //删除指定角色 指定权限
      let roleId = props.id;
      let rightId = v.id
      api.delRolePer(roleId,rightId).then(res=>{
        this.getlist()
      })
    },  
    per(p,k){   //设置权限
      api.getPer_list('tree').then(res=>{
        this.data = [...res.data.data]
        let showid = []   //计算要显示的tree
        p.children.map(v=>{
          v.children.map(vv=>{
            vv.children.map(vvv=>{
              showid.push(vvv.id)
            })
          })
        })
        this.tree_id = showid
        this.pershow=true
        this.per_setRoleId = p.id 
      })
    },

    subPer(){   //设置权限提交
      let newid = this.$refs.tree.getCheckedKeys()  //element-ui获取 el-tree绑定的属性
      let zong = this.$refs.tree.getHalfCheckedKeys()   //获取半树id  
      let allid = zong.concat(newid).join()

      let roleid = this.per_setRoleId  //角色id
      // 循环处理字符串
      let obj = {rids:allid}  //设置请求参数对象
      api.setRolePer(roleid,obj).then(res=>{
        this.$message({
          message: '更新成功',
          type: 'success'
        });
        this.getlist()    //设置角色权限后 再次请求table列表数据
        this.pershow=false
      })
    },

    addsub(ruleForm){   //添加角色
      this.$refs[ruleForm].validate((valid) => {
          if (valid) {   //成功
            let obj = {
              roleName:this.form.name,
              roleDesc:this.form.title
            }
            api.perAddRole(obj ).then(res=>{
              this.getlist();     //添加后 再次请求table数据
              this.form={}
              this.addshow=false
            })
          } else {
            return false;
          }
      });
    },

    del(v,i){  //删除
      api.perDelRole(v.id ).then(res=>{
        this.getlist()
      })
    },

    set(v,i){ //编辑
      this.setshow=true
      this.setform.id = v.id
      this.setform.name = v.roleName
      this.setform.title = v.roleDesc
    },
    setsub(){   //编辑 提交
      let obj = {
        roleName:this.setform.name,
        roleDesc:this.setform.title
      }
      // 编辑角色 提交请求
      api.perSetRole(this.setform.id,obj ).then(res=>{
        this.getlist()
        this.setshow=false
      })
    }
  },
  computed:{
      ...mapState(['token'])
  },
  components: {
    navbar,
  },
  mounted(){
      // 在这里你想初始化的时候展开哪一行都可以了
  },
  data(){
      return {
          tableData:[],             //table 数据
          expands:[],
        
          addshow:false,            //控制添加时 模态框 显隐
          form:{name:'',title:''}, //添加模态框 双向绑定数据
          rules:{   //添加角色判断条件
            name: [
                { required: true, message: '请输入角色名', trigger: 'blur' },
                { min: 2, max: 8, message: '长度在 2 到 8 个字符', trigger: 'blur'}
            ],
            title: [
                { required: true, message: '请输入描述', trigger: 'blur' },
                { min: 3, max: 16, message: '长度在 3 到 8 个字符', trigger: 'blur'}
            ],
          },
          
          //编辑
          setshow:false,                         //编辑模态框的显隐
          disabled:true,                        //模态框 input是否禁用
          setform:{id:'',name:'',title:''},   //模态框双向绑定数据
          
          //角色授权
          pershow:false,   //table 按键 控制模态框显隐
          data:[],        //el-tree 渲染数据,getlist 请求的赋值
          defaultProps: {  //与data配合 用于控制tree 显示内容
            children: 'children',
            label: 'authName',
          },
          tree_id:[],    //用于tree 显示选中 状态,在设置权限 打开时 有操作
          per_setRoleId:'', //让其模态框显示时,保留 table中当前角色id
      }
  }
};
</script>

<style lang="scss" scoped>
.box {
  flex-grow: 1;
  display: flex;
  background: #f1f1f1;
  .content {
    padding: 12px;
    width: 100%;
    display: flex;
    .contentbox {
      flex-grow: 1;
      padding: 14px;
      background: white;
    }
  }
}

.addbut {
  margin-top: 18px;
  margin-bottom:10px;
}

.demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }


</style>