<template>
    <div id="back"> 
      <el-menu :default-active="$route.meta.tt" :unique-opened='is' class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="isCollapse">
        <!-- menu-item -->
        <div style='min-width:200px'></div>
        <el-submenu v-for="item,index in menus" :key="index" :index="index+1+''">
            <template slot="title">
                <i :class="item.icon"></i>
                <span slot="title">{{item.name}}</span>
            </template>
            <el-menu-item @click.native="pushRoute(itemson)" v-for="itemson,indexson in item.sz" :key='"sz"+indexson' :index="(index+1)+'-'+(indexson+1)">{{itemson.name}}</el-menu-item>
        </el-submenu>
      </el-menu>
      <!-- content -->
      <div class="content">
          <el-container class="nav">
              <button @click="isCollapse=!isCollapse"><span class="el-icon-menu"></span></button>
              <nav class="nav-routers">
                <el-tag @close="delRouter(v,k)" :type="$route.name == v.rName ?'success' : 'params'" @click="toRouter(v)" v-for="v,k in routers" :key="k" size="medium" :closable='k>0'>{{v.title}}</el-tag>
              </nav>
              <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                  <i class="el-icon-setting" style="margin-right: 15px"></i>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item @click.native="unlogin">退出登录</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
                <span>{{$store.state.username}}</span>
              </el-header>
          </el-container>
          <!-- 路由视口 -->
          <router-view></router-view>
      </div>
  </div>
</template>


<script>
 import {mapMutations} from 'vuex'
  export default {
    data() {
      return {
        isCollapse: false,
        is:true,
        menus:[
          {name:'用户管理',icon:"el-icon-user",sz:[{name:'用户列表',url:'userlist'}]},
          {name:'权限管理',icon:"el-icon-more",sz:[{name:'角色列表',url:'rolelist'},{name:'权限列表',url:'permissions'}]},
          {name:'商品列表',icon:"el-icon-s-goods",sz:[{name:'商品列表',url:'shoplist'},{name:'分类参数',url:'classparams'},{name:'商品分类',url:'shopclass'}]},
          {name:'订单管理',icon:"el-icon-s-order",sz:[{name:'订单列表',url:'theordelist'}]},
          {name:'数据统计',icon:"el-icon-s-data",sz:[{name:'数据报表',url:'data'}]}
        ],
        t_t:'',
        routers:[]
      };
    },
    methods: {
      ...mapMutations(['clearUser']),
      toRouter(v){
        if(v.rName == this.$route.name) return false
        this.$router.push({name:v.rName})
      },
      delRouter(v,k){       //删除路由标签
          this.routers.splice(k,1)    //删除用于渲染的对应 目标数组内容
          if(v.rName == this.$route.name){   //判断删除的是否为当前显示的内容,是的话 删除后,让其显示上一个
            this.$router.push({name:this.routers[k-1].rName})
          }
      },
      handleOpen(key, keyPath) {},
      handleClose(key, keyPath) {},
      pushRoute(r){
        if(this.$route.name==r.url) return false
        this.$router.push({name:r.url})
      },
      unlogin(){
        this.clearUser()
        this.$router.push({name:'login'})
      }
    },
    watch:{
      $route:{
        handler(newrouter) {
          let obj = {
            title:newrouter.meta.title[1],
            rName:newrouter.name
          }
          let index = this.routers.findIndex(v=> v.rName == obj.rName)
          if(index <0) this.routers.push(obj)
        },
        immediate: true
      }
    }
  }
</script>

<style lang="scss" scoped>
#back{
  height: 100vh;
  position: relative;
  display: flex;
  ul{
    height: 100vh;
  }
  .content{
    overflow: hidden;
    display: flex;
    flex-direction: column;    
    height: 100vh;
    width: 100%;
    align-content: flex-start;
    .nav{
      position: relative;
      height: 56px;
      line-height: 56px;
      background: white;
      width: 100%;
      flex: 0;
      header{
        height: 56px !important;
      }
      button{
        left: 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background: transparent;
        border: none;
        outline: none;
        span{
          font-size: 24px;
        }
      }
    }
  }
}
.nav-routers{
  position: absolute;
  top: 0px;
  left: 80px;
  right: 100px;
  span{
    margin-right: 6px;
    cursor:pointer;
    transform: translateY(-2px);
  }
}
</style>