body,html,h1,p,h2,h3,h4{
    margin:0px;
    padding:0px;
}
ul,li,ol{
    list-style: none;
    margin:0px;
    padding:0px;
}

#back .el-menu-vertical-demo:not(.el-menu--collapse){
    width: 200px;
    min-height: 400px;
}


/* 用户列表 */
.alert{
    background: transparent !important;
}

.userlist-table{
    width: 99% !important;
    margin: 0px auto;
}
.is-scrolling-none{
    overflow: auto;
}
.box_perlist .is-scrolling-none{
    max-height: 569px;
}
.is-scrolling-none::-webkit-scrollbar-track{		/*定义滚动条轨道 内阴影+圆角*/
    background-color: rgba(0,0,0,0.1);
}
.is-scrolling-none::-webkit-scrollbar{	/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
    width: 5px;
    height: 0px;
    background-color: rgba(0,0,0,0);
}
.is-scrolling-none::-webkit-scrollbar-thumb{	/*定义滑块 内阴影+圆角*/
    background-color: #f55d44;
}

.per_table_showlist{
    width: 100% !important;
}
.per_table_showlist>div{
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap;
}
.per_table_showlist_bers{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.per_table_showlist_bers>span{
    margin-bottom: 2px !important;
    margin-right: 2px !important;
}
.per_table_showlist_bar{
    margin:0px;
    padding:0px;
    display: block !important;
    width: 100px;
    text-align: center;
    margin-bottom: 2px;
}

.ershow{
    width: 100%;
}
.ershow>div{
    display: flex;
}
.ershow>div>div:nth-child(1){
    width: 15%;
}
.ershow>div>nav:nth-child(2){
    width: 15%;
}
.el-form-item__content{
    line-height:0px !important;
}
.ershow>div>nav:nth-child(3){
    width:70%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.ershow>div>nav:nth-child(3)>nav{
    display: flex;
    flex-wrap: wrap;
}
.ershow .el-tag{
    margin-bottom: 2px;
    margin-right: 2px;
    padding: 0 6px;
}

#ddtablebox .is-scrolling-none{
    max-height: 540px !important;
}

.shoplistbox>div>.shoplistbox-table .is-scrolling-none{
    max-height: 490px !important;
}



/* 参数分类 */
.shopclass  .el-table__expanded-cell{
    padding: 0px 0px;
}
.shopclass  .el-table__expanded-cell .has-gutter {
    display: none;
}
.shopclass  .el-table__expanded-cell .el-table .cell{
    padding: 0px;
    padding-left: 20px !important;
}
.shopclass-table>div>.is-scrolling-none{
    max-height: 510px;
}
.classparams .is-scrolling-none{
    overflow: auto;
    max-height: 420px;
}
.contentbox .is-scrolling-none{
    max-height: 500px;
}

.classparams-tags>span{
    margin-right: 10px;
}
