<template>
    <div id="login">
        <div class="login_form">
            <div class="login_form_box">
                <h2>Welcome to login two</h2>
                <nav>
                    <div>
                        <li>
                            <span class="el-icon-user"></span>
                        </li>
                        <input type="text" placeholder="请输入账号" v-model="user.account">
                    </div>
                    <p>{{p_title.account_p}}</p>
                </nav>
                <nav>
                    <div>
                        <li>
                            <span class="el-icon-lock"></span>
                        </li>
                        <input placeholder="请输入密码" type="password" v-model="user.password">
                    </div>
                    <p>{{p_title.password_p}}</p>
                </nav>
                <button @click="sub">登录</button>
            </div>
        </div>
        <img class="bg" src="../assets/imgs/login_background.png" alt="">
    </div>
</template>

<script>
import {api} from '@/assets/js/api.js'
import {mapMutations,mapState} from 'vuex'
export default {
    data(){
        return {
            user:{
                account:'',
                password:''
            },
            p_title:{
                account_p:'',
                password_p:''
            }
        }
    },
    computed:{
        ...mapState(['token','username','id'])
    },
    watch:{
        user:{
            handler:function(newv) {   //特别注意，不能用箭头函数，箭头函数，this指向全局
                if(newv.account.length<=4  || newv.account.length>16){
                    this.p_title.account_p = '用户长度必须是4~16'
                }else{
                    this.p_title.account_p = ''
                }
                if(newv.account.length==0){
                    this.p_title.account_p='请输入账号'
                }
            },
            deep: true    //深度监听
        }
    },
    methods:{
        ...mapMutations(['setUser']),
        sub(){
            let obj = {
                password:this.user.password,
                username:this.user.account
            }
            
            api.login(obj).then(res=>{
                if(res.data.data){
                    let user = {
                        username : res.data.data.username,
                        token : res.data.data.token,
                        id : res.data.data.id,
                    }
                    this.setUser(user)
                    this.$router.push({name:'userlist'})
                }
                if(res.data.meta.msg=='用户名不存在'){
                    this.p_title.account_p='用户名不存在'
                }
                if(res.data.meta.msg=='密码错误'){
                    this.p_title.password_p='密码错误'
                }
            })
        }
    }
}
</script>

<style lang="scss" scoped>
#login{
    width: 100%;
    height:100vh;
    position: relative;
    overflow: hidden;
    .bg{
        position: absolute;
        top:50%;
        left: 50%;
        height: 1280px;
        transform: translate(-50%,-50%);
    }
    .login_form{
        position: absolute;
        z-index: 8;
        background: white;
        padding:25px 36px;
        right:20%;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 10px;
        .login_form_box{
            button{
                width: 100%;
                height:30px;
                outline:none;
                border: none;
                border-radius: 4px;
                background:#409eff;
                color: white;
            }
            h2{
                font-size:17px;
                font-weight: 600;
                margin:0px 0px 8px;
            }
            nav{
                position: relative;
                height:30px;
                padding-bottom:18px;
                >div{
                    display: flex;
                    height:28px;
                    border:1px solid #3333;
                    input{
                        outline:none;
                        border:none;
                        width:190px;
                        font-size:14px;
                        padding-left:5px;
                    }
                    li{
                        width:40px;
                        height:100%;
                        display: flex;
                        background: #f5f7fa;
                        border-right:1px solid #cccc;
                    }
                    span{
                        color: #909399;
                        margin: auto;
                        font-size:16px;
                    }
                }
                p{
                    position: absolute;
                    color: #f56c6c;
                    height:18px;
                    line-height:18px;
                    font-size:13px;
                }
            }
            nav+nav{
                margin-top:3px;
            }
        }
    }
}
</style>