<template>
  <div id="ddtablebox" class="">
    <el-table
      :data="tableData"
      style="width: 98.5%; margin: 20px auto 0px"
      border
      class="animate__animated animate__backInLeft"
    >
      <el-table-column type="index" label="#">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column prop="order_number" label="订单编号"> </el-table-column>
      <el-table-column prop="order_price" label="订单价格" width="100">
      </el-table-column>
      <el-table-column label="是否付款" width="100">
        <template slot-scope="scope">
          <el-tag type="danger" size='small ' v-if="scope.row.pay_status == '0'"
            >未付款</el-tag
          >
          <el-tag type="danger" size='small ' v-if="scope.row.pay_status == '1'"
            >支付宝</el-tag
          >
        </template>
      </el-table-column>
      <el-table-column prop="is_send" label="是否发货" width="100">
      </el-table-column>
      <el-table-column label="创建日期" width="180">
          <template slot-scope="scope"><span>{{scope.row.create_time | formatDate}}</span></template>
      </el-table-column>
      <el-table-column prop="address" label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            size='small '
            @click="setDD(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- 分页 -->
    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page"
        :page-sizes="[3, 5, 10]"
        :page-size="size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="allsize"
      >
      </el-pagination>
    </div>

    <!-- 弹窗 编辑 -->
    <el-dialog
      class="alert"
      aria-label="编辑订单"
      :visible.sync="ddshow"
      width="30%"
    >
      <el-form
        :model="form"
        :rules="rules"
        ref="form"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item label="是否发货" prop="is_send">
          <el-select v-model="form.is_send" placeholder="请选择活动区域">
            <el-option label="已发货" value="1"></el-option>
            <el-option label="未发货" value="0"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="订单支付" prop="order_pay">
          <el-select v-model="form.order_pay" placeholder="请选择活动区域">
            <el-option label="未支付" value="0"></el-option>
            <el-option label="支付宝" value="1"></el-option>
            <el-option label="微信" value="2"></el-option>
            <el-option label="银行卡" value="3"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="订单价格" prop="order_price">
          <el-input v-model="form.order_price"></el-input>
        </el-form-item>

        <el-form-item label="订单数量" prop="order_number">
          <el-input v-model="form.order_number"></el-input>
        </el-form-item>

        <el-form-item label="支付状态" prop="pay_status">
          <el-select v-model="form.pay_status" placeholder="请选择活动区域">
            <el-option label="未支付" value="0"></el-option>
            <el-option label="已支付" value="1"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="setSub">提交</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { api } from "@/assets/js/api.js";
export default {
  data() {
    return {
      tableData: [],
      size: 10,
      allsize: 0,
      page: 1,
      ddshow: false,
      form: {},
      rules: {
        is_send: [{ required: true, message: "选择状态", trigger: "change" }],
        order_pay: [{ required: true, message: "选择状态", trigger: "change" }],
        order_price: [
          { required: true, message: "请输入单价", trigger: "blur" },
        ],
        order_number: [
          { required: true, message: "请输入数量", trigger: "blur" },
        ],
        pay_status: [
          { required: true, message: "选择状态", trigger: "change" },
        ],
      },
    };
  },
  created() {
    this.getlist();
  },
  methods: {
    getlist() {
      api.getDDs(this.page, this.size).then((res) => {
        this.tableData = res.data.data.goods;
        this.allsize = res.data.data.total;
      });
    },
    handleSizeChange(v) {
      //分页 select事件
      this.size = v;
      this.getlist()
    },
    handleCurrentChange(v) {
      //分页 page单机事件
      this.page = v;
      this.getlist()
    },
    setDD(val) {
      this.form = val;
      this.ddshow = true;
    },
    setSub() {
      console.log(this.form);
      //   formName
      this.$refs["form"].validate((valid) => {
        if (valid) {
          let obj = {
            is_send: this.form.is_send,
            order_pay: this.form.order_pay,
            order_price: this.form.order_price,
            order_number: this.form.order_number,
            pay_status: this.form.pay_status,
          };
          api.setDDs(this.form.order_id, obj).then((res) => {
            this.getlist();
            this.ddshow = false;
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
  },
  filters:{     //转时间方法
      formatDate: function (value) {
          let date = new Date(value);
          let y = date.getFullYear();
          let MM = date.getMonth() + 1;
          MM = MM < 10 ? ('0' + MM) : MM;
          let d = date.getDate();
          d = d < 10 ? ('0' + d) : d;
          let h = date.getHours();
          h = h < 10 ? ('0' + h) : h;
          let m = date.getMinutes();
          m = m < 10 ? ('0' + m) : m;
          let s = date.getSeconds();
          s = s < 10 ? ('0' + s) : s;
          return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
      },
  }
};
</script>

<style lang="scss" scoped>
.el-select {
  width: 100%;
}
</style>
