<template>
    <div  class="dbox">
        <div class="dbox_div" >
            <navbar></navbar>
            <model-table></model-table>
        </div>
    </div>
</template>

<script>
import modelTable from './model_table.vue'
import navbar from '@/components/nav_bar.vue'
export default {
    components:{navbar,modelTable}
}
</script>

<style lang="scss" scoped>
.dbox{
    flex-grow: 1;
    background:#f1f1f1;
    padding:12px;
    display: flex;
    .dbox_div{
        flex-grow: 1;
        background: white;
        padding:14px;
        box-sizing: border-box;
    }
}
</style>