<template>
    <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item > <router-link to="/">首页</router-link> </el-breadcrumb-item>
        <el-breadcrumb-item v-for="v,k in arr" :key="k">{{v}}</el-breadcrumb-item>
    </el-breadcrumb>
</template>

<script>
export default {
    data(){
        return {
            arr:[]
        }
    },
    created(){
        this.arr = this.$route.meta.title
    }
}
</script>

<style lang="scss" scoped>
.el-breadcrumb{
    margin-bottom: 8px;
}
</style>