<template>
    <div class="back_box">
        <div class=" animate__animated animate__backInUp">
            <navbar></navbar>
            <div class="inp">
                <nav>
                    <el-input v-model="input" placeholder="请输入内容"></el-input>
                    <p @click="cha"><span class="el-icon-search"></span></p>
                </nav>
                <div class="but">
                    <el-button class="success" @click="addRole">添加用户</el-button>
                </div>
            </div>
            <div class="userlist-table">
                <el-table :data="tableData"  border> 
                    <el-table-column type="index"></el-table-column>
                    <el-table-column prop="username" label="姓名" ></el-table-column> 
                    <el-table-column prop="email" label="邮箱"></el-table-column> 
                    <el-table-column prop="mobile" label="电话" ></el-table-column> 
                    <el-table-column  label="创建日期">
                     <template slot-scope="scope">
                         <span>{{scope.row.create_time | formatDate}}</span>
                     </template>
                    </el-table-column> 

                    <el-table-column label="用户状态">
                        <template slot-scope="scope">
                             <el-switch @change='switch_set(scope.$index)' v-model="tableData[scope.$index].mg_state" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                        </template>
                    </el-table-column>

                    <el-table-column label="操作" min-width="200">
                        <template slot-scope="scope">
                            <el-button size="small" type="primary" icon="el-icon-edit" @click="setList(scope.$index, scope.row)" circle></el-button>
                            <el-button size="small" type="success" icon="el-icon-check" @click="setRole(scope.$index, scope.row)" circle></el-button>
                            <el-button size="small" type="danger" icon="el-icon-delete"  @click="listDel(scope.$index, scope.row)" circle></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
             <div class="block">
                 <!-- 分页 -->
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage4" :page-sizes="[3, 5, 10, 15]" :page-size="size" layout="total, sizes, prev, pager, next, jumper" :total="allsize">
                </el-pagination>
            </div>
        </div>

        <!-- 添加用户 -->
        <el-dialog class="alert" title="添加用户" :visible.sync="addRole_show" width="30%" >
            <el-form  :model="form" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="用户名"  prop="name">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="密码"  prop="password">
                    <el-input v-model="form.password"></el-input>
                </el-form-item>
                 <el-form-item label="邮箱"  prop="yx">
                    <el-input v-model="form.yx"></el-input>
                </el-form-item>
                <el-form-item label="电话"  prop="dh">
                    <el-input v-model="form.dh"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="subRole">提交</el-button>
            </span>
        </el-dialog>

        <!-- 编辑信息 -->
        <el-dialog class="alert" title="编辑信息" :visible.sync="setUser_show" width="30%" >
            <el-form  :model="setUser" label-width="100px" class="demo-ruleForm">
                <el-form-item label="用户名">
                    <el-input v-model="setUser.name" :disabled='disabled'></el-input>
                </el-form-item>
                 <el-form-item label="邮箱">
                    <el-input v-model="setUser.yx"></el-input>
                </el-form-item>
                <el-form-item label="电话">
                    <el-input v-model="setUser.dh"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="subsetUser">提交</el-button>
            </span>
        </el-dialog>
        <!-- 编辑角色 -->
         <el-dialog class="alert" title="编辑角色" :visible.sync="setRole_show" width="30%" >
            <el-form  :model="setUser" label-width="100px" class="demo-ruleForm">
                <el-form-item label="用户名">
                    <el-input v-model="setRolename" :disabled='disabled'></el-input>
                </el-form-item>
                <el-form-item label="">
                    <el-select v-model="options_val" style="width:100%" filterable placeholder="请选择">
                        <el-option v-for="item in options" :key="item.id" :label="item.roleName" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="subsetRole">提交</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import navbar from '@/components/nav_bar.vue'
import {mapState} from 'vuex'
import {api} from '@/assets/js/api.js'
export default {
    created(){
        // 请求用户管理 列表
        this.getlist()
        api.getRoles().then(res=>{
            this.options=res.data.data
        })

    },
    components:{
        navbar
    },
    data(){
        return {
            input:'',
            tableData:[],
            value:true,
            currentPage4: 1,
            size:5,
            page:1,
            query:'',
            allsize:5,
            addRole_show:false,
            form:{
                name:'',
                password:'',
                dh:'',
                yx:''
            },
            labelPosition:'right',
            rules:{ //添加判断 数据
                name: [
                    { required: true, message: '请输入用户名', trigger: 'blur' },
                    { min: 3, max: 8, message: '长度在 3 到 5 个字符', trigger: 'blur'}
                ],
                password: [
                    { required: true, message: '请输入密码', trigger: 'blur' },
                    { min: 3, max: 8, message: '长度在 3 到 8 个字符', trigger: 'blur'}
                ],
            },
            //编辑用户信息
            setUser_show:false,
            setUser:{
                username:'',
                yx:'',
                dh:'',
                id:''
            },
            disabled:true,  //input禁用,

            // 编辑角色
            setRole_show:false,
            options: [],
            options_val:'',
            setRolename:'',
            RolesId:{},
            oldoptions_val:''
        }
    },
    methods:{
        getlist(){   //请求列表方法
            api.getUser_list({query:this.query,pagenum:this.page,pagesize:this.size},{}).then(res=>{
                this.tableData=res.data.data.users
                this.allsize = res.data.data.total  //总条数
            })
        },
        cha(){
            let id = 0
            this.page=1
            this.query = this.input
            this.getlist()
        },
        handleSizeChange(val) {
            this.size = val
            this.getlist()
        },
        handleCurrentChange(val) {
            this.page = val;
            this.getlist()
        },
        setList(index,v){  //编辑用户信息
            this.setUser.name = v.username;
            this.setUser.dh=v.mobile
            this.setUser.yx=v.email
            this.setUser.id = v.id
            this.setUser_show=true
        },
        subsetUser(){  //编辑用户信息提交
            let obj = {
                email:this.setUser.yx,
                mobile:this.setUser.dh
            }
            api.setUser(this.setUser.id,obj).then(res=>{
                this.getlist()
                this.setUser_show=false
            })
        },
        // 编辑角色
        setRole(index,v){
            this.setRole_show=true
            let obj = {id:'',rid:''}
            this.setRolename = v.username
            this.options_val = v.role_name
            this.oldoptions_val = v.role_name   //用于判断名字重复
            api.setUserRole(v.id).then(res=>{
                obj.id = res.data.data.id,
                obj.rid = res.data.data.rid
                this.RolesId=obj;
            })
        },
        subsetRole(){
            if(!this.RolesId.id){
                return false
            }
            if(this.oldoptions_val == this.options_val) {
                this.$message.error('已是当前选中角色');
                return false
            }
            api.setUserRoleSub(this.RolesId.id,{rid:this.options_val}).then(res=>{
                this.setRole_show = false
                this.getlist()
            })
        },


        listDel(index,v){   //删除
            api.delUser(v.id).then(res=>{
                this.getlist()
            })
        },
        switch_set(index){  //开关
            let id = this.tableData[index].id
            let ty = this.tableData[index].mg_state
            api.userSwitch(id,ty).then(res=>{
                this.getlist()
            })
        },
        addRole(){  //添加用户
            this.addRole_show=true
        },
        subRole(){  //添加用户
            let obj = {
                username:this.form.name,
                password:this.form.password,
                email:this.form.yx,
                mobile:this.form.dh
            }
            let pd = false
            this.tableData.map(v=>{
                if(v.username==obj.username){
                    pd = true
                }
            })
            if(pd){
                this.$message.error('用户名已存在');
                return false
            }
            api.addUser(obj).then(res=>{
                this.getlist()
                this.form={}
                this.addRole_show=false
            })
        }
    },
    computed:{
        ...mapState(['username','token','id'])
    },
    filters:{
        formatDate: function (value) {
            let date = new Date(value);
            let y = date.getFullYear();
            let MM = date.getMonth() + 1;
            MM = MM < 10 ? ('0' + MM) : MM;
            let d = date.getDate();
            d = d < 10 ? ('0' + d) : d;
            let h = date.getHours();
            h = h < 10 ? ('0' + h) : h;
            let m = date.getMinutes();
            m = m < 10 ? ('0' + m) : m;
            let s = date.getSeconds();
            s = s < 10 ? ('0' + s) : s;
            return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
        },
    }
}
</script>

<style lang="scss" scoped>

.inp{
    display: flex;
    margin-top: 18px;
    .but{
        margin-left: 20px;
        button{
            color: white;
            background: #409eff;
        }
        button:hover{
            transition: all .3s linear;
            background: #66b1ff;
        }
    }
    nav{
        width: 300px;
        display: flex;
        position: relative;
        div{
            width:300px;
            overflow: hidden;
        }
        p{
            position: absolute;
            right: 1px;
            top: 1px;
            width: 60px;
            height:38px;
            background:#f5f7fa;
            border-radius:4px;
            display: flex;
            span{
                color: #9999;
                margin: auto;
                font-size:20px;
            }
        }
    }
}

.back_box{
    background: #f1f1f1;
    flex-grow: 1;
    box-sizing: border-box;
    width:100%;
    padding:12px 12px;
    >div{
        padding: 14px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: white;
    }
}
.userlist-table{
    margin-top: 20px;
}
.block{
    margin-top: 10px;
}
</style>