<template>
  <div id="data_box" class="animate__animated animate__backInUp">
    <div class="mar">
      <navbar></navbar>
      <div ref="myChart" style="width: 100%; height: 520px;margin-top:20px" id="myChart"></div>
      <div class="content"></div>
    </div>
  </div>
</template>

<script>
import {api} from '@/assets/js/api.js'
import navbar from '@/components/nav_bar.vue'
export default {
  mounted() {
    document.querySelector("#myChart").style.width = document.querySelector(".content").clientWidth;
    this.setMyEchart();
  },
  components:{navbar},
  methods: {
    async setMyEchart() {
      let echarts = require("echarts");
      var chartDom = this.$refs.myChart;
      var myChart = echarts.init(chartDom);
      var option;
      
      option = {
        title: {
          text: "",
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
        },
        toolbox: {
          feature: {
            saveAsImage: {},
          },
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
      };
      await api.getData().then(res=>{
          for(let key in res.data.data){
              option[key] = res.data.data[key]
          }
      })
      option && myChart.setOption(option);
    },
  },
};
</script>

<style lang="scss" scoped>
#data_box{
  padding:12px;
  flex-grow: 1;
  background: #f1f1f1;
  box-sizing: border-box;
  .mar{
    margin:14px;
  }
}
</style>