<template>
  <div id="app">
    <router-view></router-view>

    <div class="live2d">
      <live2d :size='size' :model='model'></live2d>
    </div>

  </div>
</template>

<script>
import vueLive2d from 'vue-live2d'
export default {
  components:{live2d:vueLive2d},
  data(){
    return {
      size:180,
      model:[3,57],   //6-15  6-14 6-13  3,57 1-27 
      tips:{}
    }
  }
}
</script>
<style scoped>
.live2d{
  z-index: 100;
  position: fixed;
  right:4px;bottom: 10px;
}
</style>